html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Montserrat' ,'Gotham', 'Century Gothic', Geneva, Verdana, sans-serif;
    background-color: #000000;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 2;

    &__content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    @media all and (min-width: 993px) {
        &__content  {
            padding-left: 3.75em;
            padding-right: 3.75em;
        }
    }

    &--dim {
        background-color: #000000;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

@media all and (min-width: 993px) {
    .header {
        width: calc(100% - 7.5em);
        padding-bottom: 2.5em;
    }
}

@media screen and (max-width: 992px) {
    .header {
        width: calc(100% - 50px);
    }
}

@media all and (min-width: 993px) {
    .ds-logo {
        height: 63px;
        width: 68px;
        max-width: 68px;
    }    
}

.ds-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 0 18px;
}

@media all and (min-width: 993px) {
    .ds-mobile-menu-trigger {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .ds-mobile-menu-trigger {
        display: inline-block;
        height: 26px;
        width: 38px;
    }
}

.ds-mobile-menu {
    position: fixed;
    left: -380px;
    top: 0;
    display: flex;
    width: 380px;
    height: 812px;
    background-color: #0B0B0B;
    flex-direction: column;
    z-index: 2;    

    &--opened {
        left: 0;
    }

    &__close {
        margin-left: 22px;
        margin-top: 26px;
        margin-bottom: 117px;

        img {
            height: 32px;
            width: 32px;
        }
    }

    &__navigation ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        color: #FFFFFF;
    
        li {
            display: block;
            padding: 20px 22px 27px;
            border-bottom: 1px solid #303030;
            font-size: 1.5rem;

            a {
                display: inherit;
                color: inherit;
                text-decoration: none;
            }
        }
    }

    &__socials {
        list-style-type: none;
        padding: 0 0 0 22px;
        margin: 55px 0 0;

        li {
            float: left;

            &:not(:last-of-type) {
                margin-right: 0.75rem;
            }
        }
        
        

    }
}
















@media screen and (max-width: 992px) {
    .ds-logo {
        height: 48px;
        width: 48px;
        max-width: 48px;
    }
}

.ds-navigation, .ds-footer-navigation {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        color: #FFFFFF;

        li {
            float: left;

            a {
                display: block;
                color: inherit;
                text-decoration: none;
            }
        }
    }    
}

.ds-navigation {
    padding: 1.031em 2.031em;
    border-radius: 2em;
    border: 1px solid #FFFFFF;

    ul li:not(:last-of-type) {
        margin-right: 2.156em;
    }
}

@media screen and (max-width: 992px) {
    .ds-navigation {
        display: none;
    }
}

.ds-cta, .ds-cta-filled {
    cursor: pointer;
    z-index: 1;
}

.ds-cta {
    padding: 1.031em 2.031em;
    border-radius: 2em;
    background-color: unset;
    border: 1px solid #FF5C00;
    color: #FF5C00;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    height: fit-content;
    width: fit-content;
}

.ds-cta-filled {
    display: block;
    padding: 1.031em 2.031em;
    border: none;
    border-radius: 2em;
    background-color: #FF5C00;
    color: #000000;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    height: fit-content;
    width: fit-content;


    &__inversed {
        background-color: #000000;
        color: #FF5C00;
    }

    // @media all and (min-width: 993px) {
    //     &__inversed {
    //         margin-left: 50%;
    //     }
    // }
    
    @media screen and (max-width: 992px) {
        &__inversed {
            margin: auto;
        }
    }
}

.ds-cta-text {
    padding: 1.031em 2.031em;
    border-radius: 2em;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 500;
    height: fit-content;
    width: fit-content;
}

@media all and (min-width: 993px) {
    .ds-cta-text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 992px) {
    .ds-cta-text {
        font-size: 1.5rem;
    }
}

.ds-button {
    border-radius: 2em;
    background-color: unset;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 500;
    height: fit-content;
    width: fit-content;
    z-index: 1;
    cursor: pointer;
}

@media all and (min-width: 993px) {
    .ds-button {
        font-size: 1.25rem;        
        padding: 1.031em 2.031em;        
    }
}

@media screen and (max-width: 992px) {
    .ds-button {
        font-size: 0.857rem;
        padding: 0.688em 1.25rem;
    }
}

.main-banner-wrapper {
    picture {
        display: block;
        position: relative;
        width: 100%;

        img {
            height: auto;
            width: 100%;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 0;
            height: 100px;
            width: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
        }
    }

    .banner {
        &-logo-wrapper {
            z-index: 1;
        }

        &-description {
            font-weight: 400;
        }        
    }

    @media all and (min-width: 993px) {
        .banner-logo-wrapper {
            .banner-description {
                font-size: 3rem;
            }
        }
    }

    @media screen and (max-width: 992px) {
        .banner-logo-wrapper {
            .banner-logo {
                width: 100%;
                max-width: 235px;
            }

            .banner-description {
                font-size: 1.25rem;
            }
        }
    }
}

body:not(.oferta) {
    @media all and (min-width: 993px) {
        .main-banner-wrapper {
            picture {
                z-index: 1;

                &:before {
                    content: '';
                    position: absolute;
                    z-index: 4;
                    top: 34%;
                    right: 35%;
                    height: 111px;
                    width: 276px;
                    background: url('../images/banner-text--desktop.png');
                }
            }
        }
    }    
}



@media all and (min-width: 993px) {
    .main-banner-wrapper.oferta {
        section {
            margin-top: 1.5em;
            padding-top: 0;
        }
    }
}

@media screen and (max-width: 992px) {
    .main-banner-wrapper {
        &.oferta {
            margin-top: 0;
        }

        section {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            margin-bottom: 15px;
        }
    }
}

@media screen and (min-width: 485px) and (max-width: 992px) {
    .main-banner-wrapper {
        background-image: none;
        margin-top: 68px;
        position: relative;
        
        // &:after {
        //     content: '';
        //     position: absolute;
        //     top: calc(100% - 68px);
        //     left: 0;
        //     background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url('../images/Banner--mobile.png');
        //     background-size: cover;
        //     height: 100%;
        //     max-height: 287px;
        //     width: 100%;
        //     z-index: 0;
        // }
    }
}

@media screen and (max-width: 484px) {
    .main-banner-wrapper {
        background-image: none;
        margin-top: 68px;
        position: relative;
    } 
}

.main-banner-rectangle {
    @media all and (min-width: 993px) {
        &--desktop, &--mobile {
            position: absolute;
            top: 330px;
            right: 34%;
            z-index: 1;
        }
    }

    @media screen and (max-width: 992px) {
        &--desktop, &--mobile {
            position: absolute;
            top: 90px;
            right: 42%;
            z-index: 1;
        }
    }
}

section#main {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
        .ds-button {
            margin-left: auto;
        }
    }

    .section-content {
        display: flex;
        flex-direction: column;
        gap: 2.5em 0;
    }

    .banner-description {
        display: flex;
        flex-flow: column wrap;
        gap: 10px 0;
        color: #FFFFFF;
    }
}

@media all and (min-width: 993px) {
    section#main {
        position: absolute;  
        width: calc(100% - 7.5em);        
        top: 5%;              
        padding-top: 12.5em;
        padding-bottom: 630px;
    }
}

@media screen and (max-width: 992px) {
    section#main {
        position: absolute;
        top: 0;
        width: calc(100% - 50px);
        flex-direction: column-reverse;
        gap: 175px 0;
    }
}

section#need-for-traff {
    position: relative;

    @media all and (min-width: 993px) {
        .ds-cta {
            font-size: 1rem;            
        }
    }
    
    @media screen and (max-width: 992px) {
        .ds-cta {
            font-size: 1.25rem;
        }
    }
}

@media screen and (max-width: 992px) {
    section#need-for-traff {
        margin-top: 1.25rem;
    }
}

.ds-section-header {
    position: relative;
    border-radius: 2em;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 400;
    height: fit-content;
    width: fit-content;

    sup {
        position: absolute;
        top: -33px;
        right: -55px;
        transform: rotateZ(10deg);
        padding: 0.5em 0.8em;
        border-radius: 2em;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        font-family: inherit;
        font-size: 0.875rem;
        font-weight: 500;
        height: fit-content;
        width: fit-content;
    }
}

@media screen and (max-width: 992px) {
    body.oferta .ds-section-header {
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 992px) {
    body.oferta > section, body.oferta > section:nth-of-type(1) .paragraph {
        margin-bottom: 35px;
    }
}



@media all and (min-width: 993px) {
    .ds-section-header {
        padding: 1.031rem 2.031rem;
        font-size: 2rem;

        &.small {
            padding: 15px 40px;
        }
    }
}

@media screen and (max-width: 992px) {
    .ds-section-header {
        padding: 0.45em 24px;
        font-size: 24px;
        text-align: center;
        margin: auto;
    }
}

.ds-rounded-text {
    padding: 1.5em;
    color: #FFFFFF;
    border: 1px solid #303030;
    border-radius: 1.875em;
    overflow: hidden;
    font-weight: 400;

    &.opaque {
        background-color: #111111;
    }

    a:not(.ds-cta):not(.ds-cta-filled) {
        color: #FF5C00;
        text-decoration: underline;
        word-wrap: break-word;
    }
}

@media all and (min-width: 993px) {
    .ds-rounded-text {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 992px) {
    .ds-rounded-text {
        font-size: 1rem;
    }

    ol.ds-rounded-text, div.ds-rounded-text {
        margin-top: 24px;
    }
}

.ds-cta-paragraph {
    padding: 3.75em 0;
}


@media screen and (min-width: 993px) {
    .ds-cta-paragraph {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;        
        align-items: center;
        column-gap: 16px;
    }
}


@media screen and (max-width: 992px) {
    .ds-cta-paragraph {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 16px;
    }
}

.ds-legal {
    font-size: 1rem;
}

.ds-card-holder {
    display: flex;
}

@media all and (min-width: 993px) {
    .ds-card-holder {
        flex-flow: row nowrap;
        gap: 0 1.563em;
    }
}

@media screen and (max-width: 992px) {
    .ds-card-holder {
        flex-flow: column wrap;
        gap: 1.563em 0;
    }
}

.ds-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.75em 0;
    padding: 1.438em;
    color: #FFFFFF;
    border: 1px solid #303030;
    border-radius: 1.875em;

    &__icon {
        height: 100px;
        flex: 0 0 auto;
    }

    @media all and (min-width: 993px) {
        p {
            font-size: 1.5rem;
        }
    }
    
    @media screen and (max-width: 992px) {
        p {
            font-size: 1rem;
        }
    }
}

.ds-circle-logo {
    position: absolute;
    overflow: hidden;

    @media all and (min-width: 993px) {
        &--half-edge {
            bottom: -20%;
            right: 0;
            width: 171px;
            height: 311px;
        }
    }
    
    @media screen and (max-width: 992px) {
        &--half-edge {
            bottom: 26px;
            left: 0;
            width: 80px;
            height: 136px;
            transform: rotateZ(180deg);
        }
    }
    
    @media screen and (max-width: 992px) {
        &--half-edge-2 {
            bottom: 0;
            right: 0;
            width: 80px;
            height: 136px;
        }
    }

    @media all and (min-width: 993px) {
        &--edge {
            bottom: 0;
            right: 0;
        }
    }
    
    @media screen and (max-width: 992px) {
        &--edge {
            bottom: -10px;
            right: 0;
            height: 85px;
            width: 120px;
        }
    }

    @media all and (min-width: 993px) {
        &--top-edge {
            top: 0;
            right: 0;
        }
    }


    @media screen and (max-width: 992px) {
        &--mobile-menu {
            bottom: 0;
            right: 0;
            height: 183px;
            width: 178px;
        }
    }

}

//.ds-prizes-container {
    .ds-row-slider__content, .ds-row-desktop__content {
        color: #FFFFFF;

        h3 {
            font-weight: 400;
        }
    
        @media all and (min-width: 993px) {
            h3 {
                font-size: 1.5rem;
            }
        }
    
        @media screen and (max-width: 992px) {
            h3 {
                font-size: 1.25rem;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
    }
    
    .ds-row-slider {
        overflow: hidden;

        a:not(.ds-cta):not(.ds-cta-filled) {
            color: #FF5C00;
            text-decoration: underline;
        }

        @media all and (min-width: 993px) {
            &__illustration {
                width: 33%;
            }
        }

        

        &__content {
            ul {
                list-style-position: outside;
                padding: 0 0 0 12px;
                margin: 0;

                li {
                    font-weight: 400;

                    &::marker {
                        content: '· ';
                        font-size: inherit;
                    }
                }                
            }
            
            @media all and (min-width: 993px) {
                ul {
                    li {
                        font-size: 1.25rem;
                        line-height: 1.5rem;

                        &::marker {
                            line-height: inherit;
                        }
                    }                    
                }
            }
        
            @media screen and (max-width: 992px) {
                ul {
                    li {
                        font-size: 1rem;
                        line-height: 1.219rem;

                        &::marker {
                            line-height: inherit;
                        }
                    }                    
                }
            }
        }

        @media all and (min-width: 993px) {
            &__content {
                width: 61%;
                padding: 25px;
            }
        }

        @media screen and (max-width: 992px) {
            &__content {
                padding: 15px 20px 0;
            }
        }
    }

    @media all and (min-width: 993px) {
        .ds-row-slider, .ds-swiper-pagination {
            display: none;
            visibility: hidden;
        }
    }

    @media screen and (max-width: 992px) {
        .ds-row-slider .swiper-wrapper {
            background-color: #111111;
            border: 1px solid #303030;
            border-radius: 1.875em;
        }

        .ds-row-slider__illustration img {
            display: block;
            padding: 0;
            margin: 0;
            height: auto;
            width: 100%;
            object-fit: contain; 
        }
    }

    .ds-row-desktop {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 0 15px;

        &__content{
            width: calc(100% - (41% + 15px));
            padding: 1.5em;
            background-color: #111111;
            border: 1px solid #303030;
            border-radius: 1.875em;
            background-color: #111111;

            p, ul li {
                color: #FFFFFF;
                font-size: 1.25rem;
            }

            a:not(.ds-cta):not(.ds-cta-filled) {
                color: #FF5C00;
                text-decoration: underline;
            }
        }

        &__illustration {
            width: 41%;
            min-width: 711px;

            picture {
                img {
                    height: auto;
                    width: 100%;
                    max-width: 713px;
                    object-fit: cover
                }
            }
        }
    }


    @media all and (max-width: 992px) {
        .ds-row-desktop {
            display: none;
            visibility: hidden;
        }
    }

    @media all and (min-width: 993px) {     
        .ds-illustrated-row {
            display: flex;
            width: 100%;
            gap: 0 1.5em;
            margin-bottom: 1.5em;
        }
    }

    @media all and (max-width: 992px) {
        .ds-illustrated-row {
            padding-bottom: 24px;
        }
    }

    
//}

@media screen and (max-width: 992px) {     
    .ds-swiper-pagination {
        margin-top: 16px;
        text-align: center;
    }
}

.ds-swiper-pagination {
    position: static;

    .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
        background: #303030;
    };

    .swiper-pagination-bullet-active {
        background: #FF5C00
    };
}

.ds-column-row {
    display: flex;
}

@media all and (min-width: 993px) {     
    .ds-column-row {
        flex-direction: row;
        width: 100%;
        column-gap: 1.5em;
        margin-bottom: 1.5em;
    }
}

@media screen and (max-width: 992px) {
    .ds-column-row {
        flex-direction: column;
        row-gap: 1.5em;

        &__illustration {
            img {
                width: 100%;
            }
        }        
    }
}

.ds-relative {
    position: relative;
}

ul, ol {
    list-style-position: inside;
    color: #FFFFFF;

    li ul {

        padding: 0;

        li::marker {
            content: '· ';
            font-size: 1.25rem;
        }
    }
}

@media screen and (max-width: 992px) {
    body.oferta section ul {        
        padding-left: 5px;
    }
}

.footer-banner {
    border-radius: 32px;
    overflow: hidden;
    position: relative;

    &:before {
        content: '';
        background: url('../images/logo-half-circle-leftedge.png');
        position: absolute;
        height: 107px;
        width: 131px;
    }

    @media all and (min-width: 993px) {
        &__title {
            font-size: 2rem;
        }
    }

    @media screen and (max-width: 992px) {
        &__title {
            font-size: 1.5rem;
            text-align: center;
            width: 90%;
            margin: 0 auto ;
        }
    }

    @media all and (min-width: 993px) {
        &__wrapper--left {
            width: 50%;
            margin-left: 50%;
            gap: 38.50px 0;
        }
    }

    @media screen and (max-width: 992px) {
        &__wrapper--left{
            margin: auto;
            width: 90%;
            text-align: center;
        }
    }

    @media all and (min-width: 993px) {
        &__text {
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 992px) {
        &__text {
            font-size: 1rem;
        }
    }

    @media all and (min-width: 993px) {
        p {
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    @media screen and (max-width: 992px) {
        p {
            padding: 0;
        }
    }

    &__text, &__wrapper--left {
        display: flex;
        flex-direction: column;        
    }

    &__wrapper--left {
        display: flex;
        flex-direction: column;
    }

    @media all and (min-width: 993px) {
        &__wrapper--left {
            gap: 30px 0;
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 992px) {
        &__wrapper--left {
            gap: 30px 0;
            text-align: center;
            margin-bottom: 20px;
        }     
    }


}

@media all and (min-width: 993px) {
    .footer-banner {
        padding: 80px 5em 25px 5em;
        background: #FF7222 url('../images/footer-banner-decor--desktop.png');
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;

        &:before {
            left: 0;
            bottom: 0;
            background-repeat: no-repeat;
            background-position: left bottom;
        }
    }
}

@media screen and (max-width: 992px) {
    .footer-banner {
        padding: 33px 0 20px;
        background: #FF7222 url('../images/footer-banner-decor--mobile.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &:before {
            right: -12px;
            bottom: -38px;
            background-repeat: no-repeat;
            background-position: right bottom; 
            transform: rotateZ(270deg);
        }        
    }
}

.footer {
    background-color: #0B0B0B;
    border: 1px solid #303030;
    border-radius: 1.875em;
    color: #FFFFFF;
    overflow: hidden;
    position: relative;
    margin-bottom: 2.5em;

    @media screen and (max-width: 992px) {
        .ds-circle-logo {
            display: none;
        }
    }

    &__top {
        display: flex;
        position: relative;

        .ds-footer {
            &-navigation {
                display: flex;
                flex-direction: column;
                gap: 32px 0;

                @media all and (min-width: 993px) {
                    &__columns {
                        flex-direction: row;
                        gap: 0 2rem;
                    }         
                }

                @media screen and (max-width: 992px) {
                    &__columns {
                        justify-content: space-between;
                    }
                }

                &__columns {
                    display: flex;
                }

                &__anchors {
                    li:not(:last-of-type) {
                        margin-right: 2rem;
                    }
                }
            
                @media screen and (max-width: 992px) {
                    &__anchors {
                        display: flex;
                        flex-direction: column;

                        li:not(:last-of-type) {
                            margin-bottom: 27px;
                        }
                    }
                }

                &__socials {
                    li:not(:last-of-type) {
                        margin-right: 0.75rem;
                    }
                }
            }
            
            &__links {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

            @media all and (min-width: 993px) {
                &__links {
                    margin-top: 47px;
                }
            }     

        }        
    }

    @media all and (min-width: 993px) {
        &__top {
            flex-direction: row;
            justify-content: flex-start;
            gap: 0 77px;
            padding: 1.5em 3.188em;
        }
    }

    @media screen and (max-width: 992px) {
        &__top {
            flex-direction: column;
            justify-content: flex-start;
            gap: 48px 0;
            padding: 1.5em;
        }
    }

    &__bottom {
        border-top: 1px solid #303030;
        padding-left: 3.75em;
        padding-right: 3.75em;

        p {
            margin: 35px 0;
            text-align: center;            
        }
    }
}


@media all and (min-width: 993px) {
    header, section {
        padding-top: 2.5em;
        padding-left: 3.75em;
        padding-right: 3.75em;
    }
}

@media screen and (max-width: 992px) {
    header, section {
        padding-top: 20px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 992px) {
    #grand-finale {
        display: flex;
        flex-direction: column;
        gap: 23px;
    }    
}

.background-notfound {
    width: 100vw;
    height: 100vh;
    position: relative;

    section {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin-left: auto;
        margin-right: auto;

        .section-content {
            text-align: center;            
        }

        @media all and (min-width: 993px) {
            img {
                height: auto;
                width: 100%;
                max-width: 397px;
            }
        }

        @media screen and (max-width: 992px) {
            img {
                width: 191px;
                height: 96px;
                object-fit: scale-down;
            }
        }


        p {
            font-size: 1.5rem;
            color: #FFFFFF;
        }

        button {
            margin: auto;
        }

    }
}

@media all and (min-width: 577px) {
    .background-notfound {
        background: url('../images/404-background--desktop.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (max-width: 576px) {
    .background-notfound {
        background: url('../images/404-background--mobile.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
